# 02 - Data from the Web

## Deadline
Wednesday October 25, 2017 at 11:59PM
## Important Notes
* Make sure you push on GitHub your Notebook with all the cells already evaluated (i.e., you don't want your colleagues to generate unnecessary Web traffic during
 the peer review)
* Don't forget to add a textual description of your thought process, the assumptions you made, and the solution you plan to implement!
* Please write all your comments in English, and use meaningful variable names in your code.

## Background
In this homework we will extract interesting information from www.topuniversities.com and www.timeshighereducation.com, two platforms that maintain a global ranking of worldwide universities. This ranking is not offered as a downloadable dataset, so you will have to find a way to scrape the information we need!
You are not allowed to download manually the entire ranking -- rather you have to understand how the server loads it in your browser. For this task, Postman with the Interceptor extension can help you greatly. We recommend that you watch this [brief tutorial](https://www.youtube.com/watch?v=jBjXVrS8nXs&list=PLM-7VG-sgbtD8qBnGeQM5nvlpqB_ktaLZ&autoplay=1) to understand quickly how to use it.

## Assignment
1. Obtain the 200 top-ranking universities in www.topuniversities.com ([ranking 2018](https://www.topuniversities.com/university-rankings/world-university-rankings/2018)). In particular, extract the following fields for each university: name, rank, country and region, number of faculty members (international and total) and number of students (international and total). Some information is not available in the main list and you have to find them in the [details page](https://www.topuniversities.com/universities/ecole-polytechnique-fédérale-de-lausanne-epfl).
Store the resulting dataset in a pandas DataFrame and answer the following questions:
- Which are the best universities in term of: (a) ratio between faculty members and students, (b) ratio of international students?
- Answer the previous question aggregating the data by (c) country and (d) region.

Plot your data using bar charts and describe briefly what you observed.

2. Obtain the 200 top-ranking universities in www.timeshighereducation.com ([ranking 2018](http://timeshighereducation.com/world-university-rankings/2018/world-ranking)). Repeat the analysis of the previous point and discuss briefly what you observed.

3. Merge the two DataFrames created in questions 1 and 2 using university names. Match universities' names as well as you can, and explain your strategy. Keep track of the original position in both rankings.

4. Find useful insights in the data by performing an exploratory analysis. Can you find a strong correlation between any pair of variables in the dataset you just created? Example: when a university is strong in its international dimension, can you observe a consistency both for students and faculty members?

5. Can you find the best university taking in consideration both rankings? Explain your approach.

Hints:
- Keep your Notebook clean and don't print the verbose output of the requests if this does not add useful information for the reader.
- In case of tie, use the order defined in the webpage.

In [56]:
#importing all necessary libraries
import requests
import json
import pandas as pd
from pprint import pprint
from bs4 import BeautifulSoup
#requesting page with first 200 universities
r = requests.get('https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json')
#creating parser
data=json.loads(r.text)['data'][:200]
#declaring the dataframe
times=pd.DataFrame({'Name' : [], 
                    'Rank':[], 
                    'Country':[], 
                    'Region':[], 
                    'FM Total':[],
                    'FM International':[],
                    'Students Total':[],
                    'Students International':[]}) #TODO region and international faculty member is left

def word_checker(word):
    if word=='Shi': return False
    if any(c.isdigit() for c in word):
        return False
    elif any(c.islower() for c in word):
        return True
    else: return False

def region_finder(address):
    addr_segments=address.split(',')
    region=addr_segments[-1].replace(' ','')
    addr_segments=addr_segments[0:-1]
    for addr_segment in addr_segments:
        if any(c.islower() for c in addr_segment):
            tmp=""
            for word in addr_segment.split(' '):
                if word_checker(word): tmp=tmp+' '+word
            region=tmp
    return region.lstrip().replace('\n','')

idx=1
for row in data:
    rank=int(row['rank'].replace("=",""))
    name=row['name']
    country=row['location']
    students=int(row['stats_number_students'].replace(",",""))
    ratio=float(row['stats_student_staff_ratio'])
    percent_i=float(row['stats_pc_intl_students'].replace("%",""))
    
    region=country
    r=requests.get('https://www.timeshighereducation.com'+row['url'])
    soup=BeautifulSoup(r.text, "html5lib") 
    address=soup.find("div",class_="profile-card__address")
    if address==None:
        website=soup.find("div",class_="profile-card__website").text
        r=requests.get(website)
        soup=BeautifulSoup(r.text, "html5lib")
        region=soup.find("span",class_="region").text
    else:
        region=region_finder(address.text)
    times.loc[idx]=[country,None,int(students/ratio),name,rank,region,students*percent_i/100,students]
    idx+=1   
times

                Country FM International  FM Total  \
1        United Kingdom             None    1822.0
2        United Kingdom             None    1687.0
3         United States             None     339.0
4         United States             None    2112.0
5         United States             None    1284.0
6         United States             None    2283.0
7         United States             None     958.0
8        United Kingdom             None    1390.0
9         United States             None    2181.0
10          Switzerland             None    1317.0
11        United States             None    3132.0
12        United States             None    2826.0
13        United States             None    3604.0
14        United States             None    4358.0
15        United States             None    4091.0
16       United Kingdom             None    2886.0
17        United States             None    3390.0
18        United States             None    2761.0
19        United States             None    2229.0
20        United States             None    1364.0
21        United States             None    4862.0
22            Singapore             None    1800.0
23               Canada             None    3712.0
24        United States             None     938.0
25       United Kingdom             None     825.0
26        United States             None    3942.0
27       United Kingdom             None    2140.0
28        United States             None    4568.0
29                China             None    4734.0
30                China             None    3072.0
..                  ...              ...       ...
171        South Africa             None    1775.0
172       United States             None    3913.0
173              Sweden             None     809.0
174             Germany             None     992.0
175             Belgium             None     583.0
176      United Kingdom             None    1343.0
177      United Kingdom             None    1693.0
178               China             None    3549.0
179          Luxembourg             None     340.0
180         Netherlands             None     523.0
181              France             None    1877.0
182              France             None     261.0
183           Hong Kong             None     809.0
184               Italy             None      99.0
185      United Kingdom             None     867.0
186       United States             None    2688.0
187      United Kingdom             None     731.0
188      United Kingdom             None     994.0
189               China             None    3007.0
190             Finland             None     630.0
191       United States             None    4453.0
192         New Zealand             None    1614.0
193       United States             None    1341.0
194  Russian Federation             None    4004.0
195         Netherlands             None     343.0
196              France             None     729.0
197      United Kingdom             None     579.0
198       United States             None    1001.0
199              Sweden             None    1837.0
200              Taiwan             None    2761.0

                                                  Name   Rank  \
1                                 University of Oxford    1.0
2                              University of Cambridge    2.0
3                   California Institute of Technology    3.0
4                                  Stanford University    3.0
5                Massachusetts Institute of Technology    5.0
6                                   Harvard University    6.0
7                                 Princeton University    7.0
8                              Imperial College London    8.0
9                                University of Chicago    9.0
10   ETH Zurich – Swiss Federal Institute of Techno...   10.0
11                          University of Pennsylvania   10.0
12                                     Yale University   12.0
13                            Johns Hopkins University   13.0
14                                 Columbia University   14.0
15               University of California, Los Angeles   15.0
16                           University College London   16.0
17                                     Duke University   17.0
18                  University of California, Berkeley   18.0
19                                  Cornell University   19.0
20                             Northwestern University   20.0
21                              University of Michigan   21.0
22                    National University of Singapore   22.0
23                               University of Toronto   22.0
24                          Carnegie Mellon University   24.0
25    London School of Economics and Political Science   25.0
26                            University of Washington   25.0
27                             University of Edinburgh   27.0
28                                 New York University   27.0
29                                   Peking University   27.0
30                                 Tsinghua University   30.0
..                                                 ...    ...
171                            University of Cape Town  171.0
172        Rutgers, the State University of New Jersey  172.0
173                  KTH Royal Institute of Technology  173.0
174                              University of Münster  173.0
175                      Université Libre de Bruxelles  175.0
176                               Newcastle University  175.0
177                            University of Liverpool  177.0
178                                Zhejiang University  177.0
179                           University of Luxembourg  179.0
180                               University of Twente  179.0
181                               Paris-Sud University  181.0
182                   École Normale Supérieure de Lyon  182.0
183                   Hong Kong Polytechnic University  182.0
184                   Scuola Normale Superiore di Pisa  184.0
185                             University of Aberdeen  185.0
186                                University of Miami  186.0
187                               University of Dundee  187.0
188                          University of East Anglia  188.0
189                      Shanghai Jiao Tong University  188.0
190                                   Aalto University  190.0
191                        University of Massachusetts  191.0
192                             University of Auckland  192.0
193                            Northeastern University  193.0
194                  Lomonosov Moscow State University  194.0
195                                 Tilburg University  195.0
196                Paris-Sorbonne University – Paris 4  196.0
197               Royal Holloway, University of London  197.0
198                University of California, Riverside  198.0
199                           University of Gothenburg  198.0
200                         National Taiwan University  198.0

                    Region  Students International  Students Total
1              Oxfordshire                 7755.42         20409.0
2           Cambridgeshire                 6436.15         18389.0
3               California                  596.43          2209.0
4               California                 3485.90         15845.0
5            Massachusetts                 3800.18         11177.0
6            Massachusetts                 5284.76         20326.0
7               New Jersey                 1909.20          7955.0
8                   London                 8721.35         15857.0
9                 Illinois                 3381.25         13525.0
10                  Zürich                 7308.54         19233.0
11            Pennsylvania                 4072.20         20361.0
12             Connecticut                 2552.55         12155.0
13                Maryland                 3719.52         15498.0
14                New York                 8507.84         26587.0
15              California                 6677.43         39279.0
16                  London                14848.96         30304.0
17          North Carolina                 3356.32         15256.0
18              California                 6150.94         36182.0
19                New York                 5244.00         21850.0
20                Illinois                 3143.88         17466.0
21                Michigan                 6690.88         41818.0
22   Lower Kent Ridge Road                 9180.60         30602.0
23                 Ontario                11802.59         69427.0
24            Pennsylvania                 5704.20         12676.0
25                  London                 7146.15         10065.0
26              Washington                 7191.20         44945.0
27               Edinburgh                10703.60         26759.0
28                New York                11403.60         43860.0
29                 Beijing                 6741.76         42136.0
30                 Beijing                 3788.01         42089.0
..                     ...                     ...             ...
171              Cape Town                 3739.50         20775.0
172             New Jersey                 4343.90         43439.0
173              Stockholm                 2201.67         12951.0
174                Munster                 2960.09         42287.0
175              Bruxelles                 8870.05         25343.0
176          Tyne and Wear                 6285.60         20952.0
177             Merseyside                 6935.25         19815.0
178               Zhejiang                 3003.06         50051.0
179       Esch-sur-Alzette                 2832.33          4969.0
180               Enschede                 1808.19          6697.0
181                  Orsay                 4355.36         27221.0
182             Lyon Cedex                  288.73          2221.0
183                Kowloon                 5443.25         21773.0
184                   Pisa                   36.05           515.0
185          Aberdeenshire                 4339.80         12055.0
186                Florida                 2537.60         15860.0
187                 Dundee                 2614.32         10893.0
188                Norfolk                 4056.30         13521.0
189               Shanghai                 2237.28         37288.0
190                 Laskut                 2548.80         12744.0
191          Massachusetts                 8292.20         59230.0
192               Auckland                 8800.92         30348.0
193          Massachusetts                 6009.60         18780.0
194                 Moskva                 6431.92         29236.0
195                Tilburg                 1005.94          7738.0
196                  Paris                 3306.30         22042.0
197                 Surrey                 3572.40          8931.0
198             California                 2903.60         20740.0
199             Gothenburg                 2389.14         18378.0
200            Taipei City                 2540.64         31758.0

[200 rows x 8 columns]

In [60]:
# (a) ratio between faculty members and students, (b) ratio of international students?
# Answer the previous question aggregating the data by (c) country and (d) region.
times=backup
def sorter(data,column1,ratio=None,column2=None,filterby=None,filter_val=None,ascending=False):
    result=data.copy(True)
    if filterby!=None:
        result=data[data[filterby]==filter_val].copy(True)
    if ratio!=None:
        result[ratio]=result[column1].divide(result[column2])
        result=result.sort_values(ratio,ascending=ascending)
    else:
        result=result.sort_values(column1,ascending=ascending)
    return result

sorter(times,'FM Total','fm/student','Students Total')

,Country,FM International,FM Total,Name,Rank,Region,Students International,Students Total,fm/student
106,United States,None,3639.0,Vanderbilt University,105.0,Tennessee,1561.43,12011.0,0.302972
110,Denmark,None,7413.0,University of Copenhagen,109.0,København,4255.30,30395.0,0.243889
13,United States,None,3604.0,Johns Hopkins University,13.0,Maryland,3719.52,15498.0,0.232546
12,United States,None,2826.0,Yale University,12.0,Connecticut,2552.55,12155.0,0.232497
154,United States,None,2240.0,University of Rochester,153.0,New York,2794.44,9636.0,0.232462
98,United States,None,2874.0,Emory University,98.0,Georgia,2403.31,12649.0,0.227212
17,United States,None,3390.0,Duke University,17.0,North Carolina,3356.32,15256.0,0.222208
115,France,None,548.0,École Polytechnique,115.0,Palaiseau,1007.64,2799.0,0.195784
184,Italy,None,99.0,Scuola Normale Superiore di Pisa,184.0,Pisa,36.05,515.0,0.192233
186,United States,None,2688.0,University of Miami,186.0,Florida,2537.60,15860.0,0.169483
136,Switzerland,None,4468.0,University of Zurich,136.0,Zürich,5272.60,26363.0,0.169480
102,United States,None,4468.0,University of Pittsburgh,100.0,Pennsylvania,2636.70,26367.0,0.169454
153,Denmark,None,1424.0,Technical University of Denmark,153.0,Kgs. Lyngby,2051.52,8548.0,0.166589
14,United States,None,4358.0,Columbia University,14.0,New York,8507.84,26587.0,0.163915
9,United States,None,2181.0,University of Chicago,9.0,Illinois,3381.25,13525.0,0.161257
11,United States,None,3132.0,University of Pennsylvania,10.0,Pennsylvania,4072.20,20361.0,0.153823
3,United States,None,339.0,California Institute of Technology,3.0,California,596.43,2209.0,0.153463
89,United States,None,924.0,Dartmouth College,89.0,New Hampshire,915.00,6100.0,0.151475
46,Japan,None,3880.0,University of Tokyo,46.0,Tokyo,2600.00,26000.0,0.149231
158,United States,None,1426.0,Case Western Reserve University,158.0,Ohio,1924.70,10130.0,0.140770
194,Russian Federation,None,4004.0,Lomonosov Moscow State University,194.0,Moskva,6431.92,29236.0,0.136954
51,United States,None,1680.0,Washington University in St Louis,50.0,Missouri,2142.00,12600.0,0.133333
4,United States,None,2112.0,Stanford University,3.0,California,3485.90,15845.0,0.133291
132,China,None,1955.0,University of Science and Technology of China,132.0,Anhui Sheng,480.96,16032.0,0.121944
7,United States,None,958.0,Princeton University,7.0,New Jersey,1909.20,7955.0,0.120427
182,France,None,261.0,École Normale Supérieure de Lyon,182.0,Lyon Cedex,288.73,2221.0,0.117515
21,United States,None,4862.0,University of Michigan,21.0,Michigan,6690.88,41818.0,0.116266
123,United States,None,1855.0,Georgetown University,123.0,District of Columbia,2712.52,15956.0,0.116257
70,United States,None,2887.0,Boston University,70.0,Massachusetts,6208.25,24833.0,0.116257
74,Japan,None,2584.0,Kyoto University,74.0,Kyoto,1798.48,22481.0,0.114942
...,...,...,...,...,...,...,...,...,...
135,Sweden,None,1331.0,Stockholm University,134.0,Stockholm,2652.48,33156.0,0.040144
133,Germany,None,981.0,Karlsruhe Institute of Technology,133.0,Eggenstein-Leopoldshafen,4648.32,25824.0,0.037988
32,Australia,None,1583.0,University of Melbourne,32.0,Victoria,16846.40,42116.0,0.037587
85,Australia,None,1503.0,University of New South Wales,85.0,New South Wales,13645.22,40133.0,0.037450
183,Hong Kong,None,809.0,Hong Kong Polytechnic University,182.0,Kowloon,5443.25,21773.0,0.037156
113,Germany,None,1023.0,University of Göttingen,113.0,Göttingen,3426.48,28554.0,0.035827
53,United States,None,820.0,"University of California, Santa Barbara",53.0,California,3227.56,23054.0,0.035569
157,Germany,None,375.0,Ulm University,155.0,Ulm,1385.41,10657.0,0.035188
196,France,None,729.0,Paris-Sorbonne University – Paris 4,196.0,Paris,3306.30,22042.0,0.033073
81,Australia,None,1390.0,Monash University,80.0,Victoria,13116.88,46846.0,0.029672
167,Germany,None,664.0,University of Würzburg,165.0,Würzburg,2028.33,22537.0,0.029463
134,Australia,None,619.0,University of Adelaide,134.0,South Australia,5522.66,21241.0,0.029142
65,Australia,None,1091.0,University of Queensland,65.0,Queensland,10131.68,38968.0,0.027997
107,Belgium,None,1000.0,Ghent University,107.0,Ghent,3590.90,35909.0,0.027848
156,Germany,None,961.0,TU Dresden,155.0,Dresden,4486.82,34514.0,0.027844
47,Belgium,None,1197.0,KU Leuven,47.0,Leuven,6661.80,44412.0,0.026952
129,Belgium,None,646.0,Université Catholique de Louvain,129.0,Louvain-la-Neuve,4645.69,24451.0,0.026420
94,Germany,None,723.0,University of Tübingen,94.0,Tubingen,3619.72,27844.0,0.025966
82,Germany,None,517.0,University of Freiburg,82.0,Freiburg,3965.49,20871.0,0.024771
174,Germany,None,992.0,University of Münster,173.0,Munster,2960.09,42287.0,0.023459
175,Belgium,None,583.0,Université Libre de Bruxelles,175.0,Bruxelles,8870.05,25343.0,0.023004
145,Germany,None,885.0,University of Cologne,145.0,Köln,4508.70,45087.0,0.019629
41,Germany,None,711.0,Technical University of Munich,41.0,Munich,8898.47,38689.0,0.018377
62,Germany,None,569.0,Humboldt University of Berlin,62.0,Berlin,5469.24,32172.0,0.017686
88,Germany,None,598.0,Free University of Berlin,88.0,Berlin,7163.94,34114.0,0.017529
79,Germany,None,757.0,RWTH Aachen University,79.0,Aachen,7869.78,43721.0,0.017314
164,Germany,None,662.0,University of Erlangen-Nuremberg,162.0,Erlangen,4647.60,38730.0,0.017093
92,Germany,None,348.0,Technical University of Berlin,92.0,Berlin,4478.00,22390.0,0.015543
125,Germany,None,147.0,University of Mannheim,125.0,Mannheim,1759.20,10995.0,0.013370
100,Germany,None,457.0,University of Bonn,100.0,Bonn,4630.47,35619.0,0.012830

In [58]:
sorter(times,'Students International','intl/student','Students Total')

,Country,FM International,FM Total,Name,Rank,Region,Students International,Students Total,intl/student
25,United Kingdom,None,825.0,London School of Economics and Political Science,25.0,London,7146.15,10065.0,0.71
179,Luxembourg,None,340.0,University of Luxembourg,179.0,Esch-sur-Alzette,2832.33,4969.0,0.57
8,United Kingdom,None,1390.0,Imperial College London,8.0,London,8721.35,15857.0,0.55
38,Switzerland,None,886.0,École Polytechnique Fédérale de Lausanne,38.0,Lausanne,5460.40,9928.0,0.55
103,Netherlands,None,929.0,Maastricht University,103.0,Maastricht,8363.50,16727.0,0.50
16,United Kingdom,None,2886.0,University College London,16.0,London,14848.96,30304.0,0.49
144,United Kingdom,None,692.0,University of St Andrews,143.0,Fife,4322.40,9005.0,0.48
24,United States,None,938.0,Carnegie Mellon University,24.0,Pennsylvania,5704.20,12676.0,0.45
121,United Kingdom,None,1158.0,Queen Mary University of London,121.0,London,6932.25,15405.0,0.45
40,Hong Kong,None,1020.0,University of Hong Kong,40.0,Hong Kong Island,7712.88,18364.0,0.42
36,United Kingdom,None,1933.0,King’s College London,36.0,London,9514.87,23207.0,0.41
27,United Kingdom,None,2140.0,University of Edinburgh,27.0,Edinburgh,10703.60,26759.0,0.40
32,Australia,None,1583.0,University of Melbourne,32.0,Victoria,16846.40,42116.0,0.40
197,United Kingdom,None,579.0,"Royal Holloway, University of London",197.0,Surrey,3572.40,8931.0,0.40
131,Switzerland,None,1065.0,University of Geneva,130.0,Genève,6434.00,16085.0,0.40
91,United Kingdom,None,1417.0,University of Warwick,91.0,Warwickshire,7185.36,18424.0,0.39
150,United Kingdom,None,888.0,Lancaster University,150.0,Lancashire,4422.06,11637.0,0.38
1,United Kingdom,None,1822.0,University of Oxford,1.0,Oxfordshire,7755.42,20409.0,0.38
55,United Kingdom,None,2419.0,University of Manchester,54.0,Lancashire,13420.84,35318.0,0.38
10,Switzerland,None,1317.0,ETH Zurich – Swiss Federal Institute of Techno...,10.0,Zürich,7308.54,19233.0,0.38
159,United Kingdom,None,1037.0,University of Leicester,159.0,Leicestershire,5561.30,14635.0,0.38
149,United Kingdom,None,804.0,University of Sussex,147.0,Brighton,4705.92,12384.0,0.38
185,United Kingdom,None,867.0,University of Aberdeen,185.0,Aberdeenshire,4339.80,12055.0,0.36
80,United Kingdom,None,1518.0,University of Glasgow,80.0,Lanarkshire,8420.04,23389.0,0.36
104,United Kingdom,None,1649.0,University of Sheffield,104.0,South Yorkshire,8849.16,24581.0,0.36
115,France,None,548.0,École Polytechnique,115.0,Palaiseau,1007.64,2799.0,0.36
48,Australia,None,828.0,Australian National University,48.0,Australian Capital Territory,5595.10,15986.0,0.35
2,United Kingdom,None,1687.0,University of Cambridge,2.0,Cambridgeshire,6436.15,18389.0,0.35
120,Hong Kong,None,825.0,City University of Hong Kong,119.0,Kowloon,3234.00,9240.0,0.35
177,United Kingdom,None,1693.0,University of Liverpool,177.0,Merseyside,6935.25,19815.0,0.35
...,...,...,...,...,...,...,...,...,...
46,Japan,None,3880.0,University of Tokyo,46.0,Tokyo,2600.00,26000.0,0.10
107,Belgium,None,1000.0,Ghent University,107.0,Ghent,3590.90,35909.0,0.10
49,United States,None,2839.0,University of Texas at Austin,49.0,Texas,4856.10,48561.0,0.10
116,China,None,2715.0,Fudan University,116.0,Shanghai,3285.90,32859.0,0.10
172,United States,None,3913.0,"Rutgers, the State University of New Jersey",172.0,New Jersey,4343.90,43439.0,0.10
145,Germany,None,885.0,University of Cologne,145.0,Köln,4508.70,45087.0,0.10
69,United States,None,1925.0,"University of Maryland, College Park",69.0,Maryland,3177.20,31772.0,0.10
102,United States,None,4468.0,University of Pittsburgh,100.0,Pennsylvania,2636.70,26367.0,0.10
169,China,None,2356.0,Nanjing University,169.0,Jiangsu Sheng,3345.60,33456.0,0.10
30,China,None,3072.0,Tsinghua University,30.0,Beijing,3788.01,42089.0,0.09
143,United States,None,2648.0,University of Florida,143.0,Florida,4171.14,46346.0,0.09
167,Germany,None,664.0,University of Würzburg,165.0,Würzburg,2028.33,22537.0,0.09
161,United States,None,2948.0,University of Arizona,161.0,Arizona,3450.06,38334.0,0.09
160,United States,None,2383.0,Texas A&M University,159.0,Texas,5062.05,56245.0,0.09
96,South Korea,None,892.0,Korea Advanced Institute of Science and Techno...,95.0,Daejeon,851.76,9464.0,0.09
74,Japan,None,2584.0,Kyoto University,74.0,Kyoto,1798.48,22481.0,0.08
200,Taiwan,None,2761.0,National Taiwan University,198.0,Taipei City,2540.64,31758.0,0.08
135,Sweden,None,1331.0,Stockholm University,134.0,Stockholm,2652.48,33156.0,0.08
57,United States,None,3575.0,University of North Carolina at Chapel Hill,56.0,North Carolina,2774.72,34684.0,0.08
174,Germany,None,992.0,University of Münster,173.0,Munster,2960.09,42287.0,0.07
184,Italy,None,99.0,Scuola Normale Superiore di Pisa,184.0,Pisa,36.05,515.0,0.07
68,Netherlands,None,2073.0,Utrecht University,68.0,Utrecht,2206.54,31522.0,0.07
166,Netherlands,None,1356.0,Vrije Universiteit Amsterdam,165.0,Amsterdam,1718.78,24554.0,0.07
189,China,None,3007.0,Shanghai Jiao Tong University,188.0,Shanghai,2237.28,37288.0,0.06
90,Finland,None,1390.0,University of Helsinki,90.0,Yliopistonkatu,1351.92,22532.0,0.06
168,United States,None,1033.0,University of Alabama at Birmingham,168.0,Alabama,942.18,15703.0,0.06
178,China,None,3549.0,Zhejiang University,177.0,Zhejiang,3003.06,50051.0,0.06
137,South Korea,None,292.0,Pohang University of Science and Technology,137.0,Gyeongsangbuk-do,121.84,3046.0,0.04
162,United States,None,776.0,"University of California, Santa Cruz",162.0,California,714.64,17866.0,0.04
132,China,None,1955.0,University of Science and Technology of China,132.0,Anhui Sheng,480.96,16032.0,0.03

In [61]:
sorter(times,'FM Total','fm/student','Students Total','Country','United States')

,Country,FM International,FM Total,Name,Rank,Region,Students International,Students Total,fm/student
106,United States,None,3639.0,Vanderbilt University,105.0,Tennessee,1561.43,12011.0,0.302972
13,United States,None,3604.0,Johns Hopkins University,13.0,Maryland,3719.52,15498.0,0.232546
12,United States,None,2826.0,Yale University,12.0,Connecticut,2552.55,12155.0,0.232497
154,United States,None,2240.0,University of Rochester,153.0,New York,2794.44,9636.0,0.232462
98,United States,None,2874.0,Emory University,98.0,Georgia,2403.31,12649.0,0.227212
17,United States,None,3390.0,Duke University,17.0,North Carolina,3356.32,15256.0,0.222208
186,United States,None,2688.0,University of Miami,186.0,Florida,2537.60,15860.0,0.169483
102,United States,None,4468.0,University of Pittsburgh,100.0,Pennsylvania,2636.70,26367.0,0.169454
14,United States,None,4358.0,Columbia University,14.0,New York,8507.84,26587.0,0.163915
9,United States,None,2181.0,University of Chicago,9.0,Illinois,3381.25,13525.0,0.161257
11,United States,None,3132.0,University of Pennsylvania,10.0,Pennsylvania,4072.20,20361.0,0.153823
3,United States,None,339.0,California Institute of Technology,3.0,California,596.43,2209.0,0.153463
89,United States,None,924.0,Dartmouth College,89.0,New Hampshire,915.00,6100.0,0.151475
158,United States,None,1426.0,Case Western Reserve University,158.0,Ohio,1924.70,10130.0,0.140770
51,United States,None,1680.0,Washington University in St Louis,50.0,Missouri,2142.00,12600.0,0.133333
4,United States,None,2112.0,Stanford University,3.0,California,3485.90,15845.0,0.133291
7,United States,None,958.0,Princeton University,7.0,New Jersey,1909.20,7955.0,0.120427
21,United States,None,4862.0,University of Michigan,21.0,Michigan,6690.88,41818.0,0.116266
123,United States,None,1855.0,Georgetown University,123.0,District of Columbia,2712.52,15956.0,0.116257
70,United States,None,2887.0,Boston University,70.0,Massachusetts,6208.25,24833.0,0.116257
5,United States,None,1284.0,Massachusetts Institute of Technology,5.0,Massachusetts,3800.18,11177.0,0.114879
6,United States,None,2283.0,Harvard University,6.0,Massachusetts,5284.76,20326.0,0.112319
86,United States,None,715.0,Rice University,86.0,Texas,1803.48,6441.0,0.111008
170,United States,None,1125.0,Tufts University,169.0,Massachusetts,1674.08,10463.0,0.107522
15,United States,None,4091.0,"University of California, Los Angeles",15.0,California,6677.43,39279.0,0.104152
28,United States,None,4568.0,New York University,27.0,New York,11403.60,43860.0,0.104150
57,United States,None,3575.0,University of North Carolina at Chapel Hill,56.0,North Carolina,2774.72,34684.0,0.103073
114,United States,None,2479.0,University of Virginia,113.0,Virginia,2886.60,24055.0,0.103055
19,United States,None,2229.0,Cornell University,19.0,New York,5244.00,21850.0,0.102014
43,United States,None,3641.0,University of Wisconsin-Madison,43.0,Wisconsin,4675.20,38960.0,0.093455
...,...,...,...,...,...,...,...,...,...
26,United States,None,3942.0,University of Washington,25.0,Washington,7191.20,44945.0,0.087707
71,United States,None,4188.0,Ohio State University,70.0,Ohio,6914.70,53190.0,0.078737
31,United States,None,2315.0,"University of California, San Diego",31.0,California,5037.61,29633.0,0.078122
66,United States,None,2998.0,University of Southern California,66.0,California,8827.40,38380.0,0.078114
20,United States,None,1364.0,Northwestern University,20.0,Illinois,3143.88,17466.0,0.078095
161,United States,None,2948.0,University of Arizona,161.0,Arizona,3450.06,38334.0,0.076903
18,United States,None,2761.0,"University of California, Berkeley",18.0,California,6150.94,36182.0,0.076309
191,United States,None,4453.0,University of Massachusetts,191.0,Massachusetts,8292.20,59230.0,0.075181
151,United States,None,888.0,University of Notre Dame,150.0,Indiana,1310.32,11912.0,0.074547
24,United States,None,938.0,Carnegie Mellon University,24.0,Pennsylvania,5704.20,12676.0,0.073998
54,United States,None,2707.0,"University of California, Davis",54.0,California,3736.50,37365.0,0.072447
193,United States,None,1341.0,Northeastern University,193.0,Massachusetts,6009.60,18780.0,0.071406
117,United States,None,4740.0,Indiana University,117.0,Indiana,10025.25,66835.0,0.070921
168,United States,None,1033.0,University of Alabama at Birmingham,168.0,Alabama,942.18,15703.0,0.065784
77,United States,None,2987.0,Pennsylvania State University,77.0,Pennsylvania,6357.54,45411.0,0.065777
101,United States,None,1888.0,University of Colorado Boulder,100.0,Colorado,3078.00,30780.0,0.061339
69,United States,None,1925.0,"University of Maryland, College Park",69.0,Maryland,3177.20,31772.0,0.060588
99,United States,None,1789.0,"University of California, Irvine",99.0,California,6387.99,30419.0,0.058812
84,United States,None,2620.0,Michigan State University,83.0,Michigan,7574.52,44556.0,0.058802
49,United States,None,2839.0,University of Texas at Austin,49.0,Texas,4856.10,48561.0,0.058463
60,United States,None,2228.0,Purdue University,60.0,Indiana,8917.10,38770.0,0.057467
56,United States,None,3502.0,University of Minnesota,56.0,Minnesota,6704.39,60949.0,0.057458
143,United States,None,2648.0,University of Florida,143.0,Florida,4171.14,46346.0,0.057135
126,United States,None,2212.0,Arizona State University,126.0,Arizona,8450.25,44475.0,0.049736
33,United States,None,1003.0,Georgia Institute of Technology,33.0,Georgia,5608.71,20773.0,0.048284
198,United States,None,1001.0,"University of California, Riverside",198.0,California,2903.60,20740.0,0.048264
37,United States,None,1903.0,University of Illinois at Urbana-Champaign,37.0,Illinois,9982.46,43402.0,0.043846
162,United States,None,776.0,"University of California, Santa Cruz",162.0,California,714.64,17866.0,0.043434
160,United States,None,2383.0,Texas A&M University,159.0,Texas,5062.05,56245.0,0.042368
53,United States,None,820.0,"University of California, Santa Barbara",53.0,California,3227.56,23054.0,0.035569