# Patents Citations

We will analyse data which comprise detail information on almost 3 million U.S. patents granted between January 1963 and December 1999. The patent dataset is maintained by the National Bureau of Economic Research (NBER). We downloaded them at the following link: http://www.nber.org/patents/

The data are in 5 zipped SAS "transport format" files as follows:

* Pat63_99.zip contains the patent data, including the constructed variables
* Coname.zip contains the assignee names.
* Match.zip contains the match to CUSIP numbers
* Inventor.zip contains the individual inventor records
* Cite75_99.zip contains the pairwise citations data, between 1975 and 1999.

Each of these files has a corresponding "txt" file that contains the variable names and other documentation.

These data are described in detail in NBER Working Paper No. XXXX, "The NBER Patent Citations Data File:  Lessons, Insights and Methodological Tools," by Bronwyn H. Hall, Adam B. Jaffe and Manuel Trajtenberg.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sbn

### Pat63_99 file

In [3]:
df = pd.read_csv('https://drive.google.com/file/d/1OYvsR--VND1SI-ca_OxKwzj6qCE1HWIw/view?usp=sharing')
print ("lenght: ",len(df))
df.head()

ParserError: Error tokenizing data. C error: Expected 20 fields in line 5, saw 293

The Pat63_99 file is sorted by ascending patent number. <br>
**There are 23 variables, which represent the following characteristics:**

    patent: Patent Number
    gyear: Grant Year
    gdate: Grant Date
    appyear: Application Year
    country: Country of First Inventor
    postate: State of First Inventor (if US)
    assignee: Assignee Identifier (missing 1963-1967)
    asscode: Assignee Type (see below)
    claims: number of Claims
    nclass: Main Patent Class (3 digit)
    cat: Technological Category
    subcat: Technological Sub-Category
    cmade: Number of Citations Made
    creceive: Number of Citations Received
    ratiocit: Percent of Citations Made to Patents Granted Since 1963
    general: Measure of Generality
    original: Measure of Originality
    fwdaplag: Mean Forward Citation Lag
    bckgtlag: Mean Backward Citation Lag
    selfctub: Share of Self-Citations Made - Upper Bound
    selfctlb: Share of Self-Citations Made - Lower Bound
    secdupbd: Share of Self-Citations Received - Upper Bound
    secdlwbd: Share of Self-Citations Received - Lower Bound

More useful information about the variables:
------------------
1. The State/Country Code is a three-character code. A list of corresponding state and country
   names is included in the list_countries file in nber page. These codes are present for all patents in the file 
   (1963-1999).
2. The Assignee Identifier can be converted to the company name using the Coname file, 
   Assignee Identifier is available for patents granted since 1969. 
3. The Assignee type code is a one-character code having the following meaning:

     1    = unassigned
     2    = assigned to a U.S. nongovernment organization
     3    = assigned to a non-U.S., nongovernment organization
     4    = assigned to a U.S. individual
     5    = assigned to a non-U.S. individual
     6    = assigned to the U.S. (Federal) Government
     7    = assigned to a non-U.S. government
     8,9  = assigned to a U.S. non-Federal Government agency (do not appear in the dataset)
                 
4. The upper and lower bound for self-citations, together with the number of citations received,
   allow to compute the number of citations received having an assignee identifier (same for 
   citations made).
5. The application year is available for patents granted since 1967.
6. The number of claims is available for patents granted since 1975.
7. Grant Date is the number of days elapsed since 1.1.1960.
8. Main Patent Class list, as provided by the USPTO, is given in the attached Class file.

In [8]:
num_valid_entries_per_column = df.count(axis=0)
print (num_valid_entries_per_column)

PATENT      2923922
GYEAR       2923922
GDATE       2923922
APPYEAR     2699606
COUNTRY     2923922
POSTATE     1784989
ASSIGNEE    2089903
ASSCODE     2923922
CLAIMS      1984055
NCLASS      2923922
CAT         2923922
SUBCAT      2923922
CMADE       2139314
CRECEIVE    2923922
RATIOCIT    2088795
GENERAL     2240348
ORIGINAL    2042151
FWDAPLAG    2074641
BCKGTLAG    2088785
SELFCTUB    1703004
SELFCTLB    1703004
SECDUPBD    1599160
SECDLWBD    1599160
dtype: int64

In [12]:
clean_df = df.dropna(axis=0, how='any')
print (clean_df.shape)

(675937, 23)

### Coname file

The Coname file lists company names and associated assignee identifier. **The variables are 2:**

    assignee: Assignee Identifier
    compname: Full Assignee Name

In [19]:
coname = pd.read_csv('coname.csv')
print ("lenght: ",len(coname))
coname.head()

lenght:  175115

   ASSIGNEE                         COMPNAME
0         5             AAA ASSOCIATES, INC.
1        10  AAA OFFICE COFFEE SERVICE, INC.
2        15    AAA PIPE CLEANING CORPORATION
3        20  AAA PRODUCTS INTERNATIONAL INC.
4        25    AAA SALES & ENGINEERING, INC.

The Coname file is sorted by ascending Assignee Identifier. The Coname
file is NOT sorted alphabetically (some portions of the file,
however, may appear to be in alphabetical order). 

A Note about TAF Company Codes and Company Names:  TAF Company
Codes are used to identify organizational names in the TAF database. 
These codes do not appear in other PTO databases,
such as the Automated Patent System.

The Company Codes and Company Names that appear in Coname file are
"preferred" codes and names.   Frequently, patents assigned to a
given organization may show alternate spelling or syntax formats;
for example, some patents assigned to International Business
Machines Corp. may simply show IBM.  These alternate formats are
mapped to a preferred format so that all patents assigned to a
given organization  can be represented by a single code and name. 
The preferred Company Codes and Company Names that appear on the
Coname file include all preferred codes and names that existed at
the time the Coname file was produced.  It is possible that a
preferred Company Code and Company Name that was in use at the time
the Coname file was produced was not the same code and name that
was in use at the time the patent was granted.

### Match file

The Compustat file lists company names and associated assignee identifier (from Pat63_99) 
and the matched Compustat identifier (CUSIP). The file provides the full name of
the company as it appears in both the patent and Compustat data.
The file also contains the name of the parent company and subsidiary 
company if such information exists.

In [21]:
match = pd.read_csv('match.csv')
print ("lenght: ",len(match))
match.head()

lenght:  4906

,assignee,assname,cname,cusip,own,pname,sname
0,105,AAI CORPORATION,UNITED INDUSTRIAL CORP,910671,NaN,NaN,NaN
1,220,AAR CORP,AAR CORP,000361,NaN,NaN,NaN
2,365,AB AG LABORATORIES LIMITED,DEL LABORATORIES INC,245091,NaN,NaN,NaN
3,735,ABBOTT LABORATORIES,ABBOTT LABORATORIES,002824,NaN,NaN,NaN
4,785,ABB POWER T & D CPY INC,WESTINGHOUSE ELECTRIC CORP,960402,55.0,WESTINGHOUSE ELECTRIC CORP,ABB POWER T & D CO

The Compustat file is sorted by ascending Assignee Identifier. <br>
The Compustat file is NOT sorted alphabetically (some portions of the file,
however, may appear to be in alphabetical order). <br>
**There are 7 variables:**

    assignee: Assignee Identifier
    assname: Patent Assignee Name
    pname: Parent Name
    sname: Subsidiary Name
    own: Percent of Ownership
    cusip: Compustat CUSIP
    cname: Compustat Name

### Inventor file

The Inventor file includes the patent number, inventor name, 
street address (if present on the patent record), city,
state, country code, zip code (where available), and
inventor sequence number of inventors listed on patents generally
issued from January 1, 1975 to December 31, 1999.

In [22]:
inventor = pd.read_csv('inventor.csv')
print("lenght: ",len(inventor))
inventor.head()

/Users/antoninobarbera/anaconda/envs/ada/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

lenght:  4301229

,PATENT,LASTNAM,FIRSTNAM,MIDNAM,MODIFNAM,STREET,CITY,POSTATE,COUNTRY,ZIP,INVSEQ
0,3858241,Durand,Philip,E.,NaN,NaN,Hudson,MA,US,NaN,1
1,3858241,Norris,Lonnie,H.,NaN,NaN,Milford,MA,US,NaN,2
2,3858242,Gooding,Elwyn,R.,NaN,120 Darwin Rd.,Pinckney,MI,US,48169,1
3,3858243,Pierron,Claude,Raymond,NaN,NaN,Epinal,NaN,FR,NaN,1
4,3858243,Jenny,Jean,Paul,NaN,NaN,Decines,NaN,FR,NaN,2

The INVENTOR file is sorted by ascending patent number and the sequence 
in which the inventor name appeared on the printed patent. <br>
**There are 12 variables:**

    patent: Patent Number
    lastnam: Last Name of Inventor
    firstnam: First Name of Inventor
    midnam: Middle Name of Inventor
    modifnam: Surname Modifier (e.g.,"Jr.")
    street: Street Address
    city: City
    postate: State Code
    country: Country Code
    zip: Zip Code
    invseq: Inventor Sequence Number
    street: Street Address

The INVENTOR file is sorted by ascending patent number and the sequence 
in which the inventor name appeared on the printed patent.

Street address data are blank where patent rights are assigned 
to an organization at the time of grant, as indicated on the front
page of the patent. Since this file includes the patent number in 
each record (in addition to the inventor name and residence information), 
inventor name and residence information can be repeated in multiple 
records if those inventors are listed on more than one patent in the
file.

### Cite75_99 File

This file includes all US patent citations for utility patents 
granted in the period 1-Jan-75 to 31-Dec-99.

In [23]:
cite = pd.read_csv('cite75_99.csv')
print("lenght: ",len(cite))
cite.head()

lenght:  16522438

    CITING    CITED
0  3858241   956203
1  3858241  1324234
2  3858241  3398406
3  3858241  3557384
4  3858241  3634889

The file is sorted by Citing Patent Number. <br>
**There are 2 variables:**

    citing: Citing Patent Number
    cited: Cited Patent Number

### In addition we have a US Patent citation network file from the Stanford University website: http://snap.stanford.edu/data/cit-Patents.html
It provides a directed graph (each unordered pair of nodes is saved once), with 3774768 Nodes and 16518948 Edges.
We load and explore it in order to understand if it's difference from the Cite75_99 file.

In [28]:
citations = pd.read_csv('cit-Patents.txt', sep='\t')
print("lenght: ",len(citations))
citations.head()

lenght:  16518948

   FromNodeId  ToNodeId
0     3858241    956203
1     3858241   1324234
2     3858241   3398406
3     3858241   3557384
4     3858241   3634889

In [30]:
cite.tail(5)

           CITING    CITED
16522433  6009554  4617662
16522434  6009554  4740972
16522435  6009554  4831521
16522436  6009554  5048064
16522437  6009554  5364047

In [31]:
citations.tail(5)

          FromNodeId  ToNodeId
16518943     6009554   4617662
16518944     6009554   4740972
16518945     6009554   4831521
16518946     6009554   5048064
16518947     6009554   5364047

In [32]:
len(cite) - len(citations)

3490